html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*-----------------------------------------------------------------------------*/

body {
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1445px;
  margin: 0 auto;
  font-family: 'Gilroy';
}

.tabheader {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

.tabheader__item {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

.tabheader__item_active {
  font-weight: bold;
  color: #070707;
}

.divider {
  height: 1px;
  margin: 0 auto;
  background-color: #828282;
}

.home-section {
  padding: 30px 252.5px 100px;
  background-color: #ffffff;
}

.home-tab .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 40px 0;
}

.home-tab__img {
  max-width: 100%;
  text-align: center;
}

.home-tab__name {
  font-size: 48px;
  font-family: 'Gilroy Bold';
}

.home-tab__years-old {
  font-size: 18px;
}

.home-tab__lang {
  font-size: 18px;
  transform: rotate(-90deg);
}

.home-tab__lang_active {
  font-weight: bold;
}

.about-me-tab {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 252.5px 80px;
  background: #F6F6F6;
}

.tabs-titles {
  font-size: 34px;
  font-family: 'Gilroy Bold';
  padding: 20px 0 20px 0;
  text-align: center;
}

.about-me-tab span {
  padding: 20px 0 20px 0;
}

.skills-tab {
  display: flex;
  flex-direction: column;
  padding: 100px 252.5px;
  background: #ffffff;
}

.skills-tab span {
  text-align: center;
}

.skills-tab .container {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 252.5px 60px;
}

.skills-tab__item {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.skills-tab .container img {
  width: 90px;
  height: 90px;
}

.portfolio-tab {
  background-color: #F6F6F6;
  padding: 100px 252.5px 100px;
  text-align: center;
}


.portfolio-tab__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-tab__item img {
  padding: 40px 0 40px;
}

.project-name {
  padding: 40px 0 0;
  font-size: 18px;
  text-decoration-line: underline;
}

.contacts-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background: #ffffff;
}

.contacts-tab__content {
  text-align: center;
  padding: 20px 0 20px 0;
}

.contacts-tab__item {
  display: flex;
  align-items: center;
  padding: 40px 0 0;
}

.contacts-tab img {
  width: 40px;
  margin-right: 40px;
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gilroy-Bold.woff2') format('woff2'),
      url('fonts/Gilroy-Bold.woff') format('woff'),
      url('fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('fonts/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('fonts/Gilroy-Medium.woff2') format('woff2'),
      url('fonts/Gilroy-Medium.woff') format('woff'),
      url('fonts/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}