@import 'styles/reset.css';
@import 'styles/fonts.css';
@import 'styles/header.css';
@import 'styles/home-tab.css';
@import 'styles/about-me-tab.css';
@import 'styles/skills-tab.css';
@import 'styles/portfolio-tab.css';
@import 'styles/contacts-tab.css';
@import 'styles/hamburger-menu.css';
@import 'styles/scrollup.css';

body {
  background-color: #E5E5E5;
}

.wrapper {
  max-width: 1445px;
  margin: 0 auto;
  font-family: 'Gilroy';
}

a {
  text-decoration: none;
  color: #828282;
}

html {
  scroll-behavior: smooth;
  }

  