/* скрываем чекбокс */
.hamburger-menu {
  display: none;
}

#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: absolute;
  top: 90px;
  right: 56px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: absolute;
  visibility: hidden;
  top: 80px;
  right: 25px;
  width: 300px;
  margin: 0;
  padding: 0 0 80px 0;
  list-style: none;
  background-color: #ffffff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 10px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #E5E5E5;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 25px;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
/* .menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .20s;
} */

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .menu__box {
    right: 50px;
  }

  #menu__toggle:checked ~ .menu__box {
    right: 50px;
  }


}
@media (max-width: 480px) {
  .hamburger-menu {
    display: block;
  }

  .menu__box {
    right: 25px;
  }

  #menu__toggle:checked ~ .menu__box {
    right: 25px;
  }

}